.stats-stocks-medicine-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: max-content;
    gap: 5px;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    background-color: rgba(242, 204, 65, 0.6);
}

p {
    margin: 0;
}